<%- include('partials/html-start.ejs') %>

<h1>Welcome to Saleh's Chainsaw App</h1>

<p>
    <%= chainsawData.length %> chainsaws available
</p>

<ul>
    <% for (let i = 0; i < chainsawData.length; i++) { %>
        <li>
            Chainsaw <%= i + 1 %>: <%= chainsawData[i].sawName %> (ID: <%= chainsawData[i]._id %>)
        </li>
    <% } %>
</ul>

<h3>Add a new drink</h3>

<form method="POST" action="/addSaw">
    <label for="sawName">Chainsaw Name</label>
    <input name="sawName" placeholder="New chainsaw name">
    <input type="submit" value="Add a new chainsaw" />
</form>

<%- include('partials/drink-actions-form.ejs', { drinkData: drinkData }) %>

<%- include('partials/html-end.ejs') %>
